.text{
    color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 0px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    height: 100vh;
}
.button{
    display: grid;
    justify-items: center;
}
.color{
    background-color: #42a8df;
    color: white;
    font-weight: bolder;
    width: 300px;
}
.color:hover{
    background-color: rgb(5, 113, 146);
}
.color-input{
    color: rgb(57, 165, 204);
    font-weight: bold;
}