<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card animate__animated animate__fadeInTopLeft card-style">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                        <div class="image">
                            <img src="../../../assets/img/GlobalTech.jpg" alt="" class="card-img-top">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 space">
                        <p class="mt-5"> <span class="initial">Hi!</span></p>
                        <h4 class="card-title"><span class="title">I'm Richard Jimenez </span><span class="twitter">(@Richard6_10) </span><span><i class="fab fa-twitter icon"></i></span></h4>
                        <br>
                        <h6 class="subtitle">Software Developer</h6>
                        <hr>
                        <p class="card-content">
                            I am a freelance developer. I love being a developer and creating software. Currently, I mainly work on single page
                            applications with Angular and Ionic for frontend, NodeJs / Python for web services with REST.
                        </p>
                        <p class="card-content">
                            I love sharing my knowledge with the community through meetings, articles. I am a student of Software Development
                            Technology.
                        </p>
                        <p class="card-content">
                            I am recently learning how to work in the Cloud and when I am not coding I go for a jog or read a good book.
                        </p>
                    </div>
                </div>
                <div class="card-footer footer-color">
                    <a href="https://twitter.com/Richard6_10" target="_blank"><i class="fab fa-twitter fa-1.5x color-icon mx-3"></i></a>
                    <a href="https://github.com/SystemMasterPro" target="_blank"><i class="fab fa-github fa-1x color-icon mx-3"></i></a>
                    <a href="https://www.facebook.com/richardfernando.jimenez/" target="_blank"><i class="fab fa-facebook-square fa-1x color-icon mx-3"></i></a>
                    <a href="https://www.linkedin.com/in/richard-jimenez-%F0%9F%87%AA%F0%9F%87%A8-5137491a5/" target="_blank"><i class="fab fa-linkedin-in fa-1x color-icon mx-3"></i></a>
                    <a href="https://www.youtube.com/channel/UCvHWv1YfSPOwAyW2c3UQvJw" target="_blank"><i class="fab fa-youtube fa-1x color-icon mx-3"></i></a>
                </div>
            </div>
        </div>
    </div>
    <a href="https://m.me/richardfernando.jimenez" class="btn-flotante animate__animated animate__flip" target="_blank"><img src="../../../assets/img/messenger.png" alt="messenger"></a>
</div>
