<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card animate__animated animate__fadeInTopLeft card-style">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                        <div class="image">
                            <img src="../../../assets/img/GlobalTech.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 space">
                        <p class="mt-5"> <span class="initial">Hola 🖐️</span></p>
                        <h4 class="card-title"><span class="title"><span class="colorTextWhite">Me llamo</span> Richard Fernando Jiménez </span><span class="twitter">(@Richard6_10) </span><span><i class="fab fa-twitter icon"></i></span></h4>
                        <h6 class="subtitle">Desarrollador de Software Profesional</h6>
                        <hr>
                        <p class="card-content">
                            Soy un desarrollador de software autónomo. Me encanta el desarrollo y crear software, tengo 6 años de experiencia en el
                            desarrollo. Actualmente, trabajo en la creación de aplicaciones web utilizando para el Backend NodeJS/Django y para el
                            Frontend Angular/Svelte, de la misma forma para la creación de apps móviles hibridas empleo Ionic. Python/Django para servicios web con
                            REST.
                        </p>
                        <p class="card-content">
                            Me encanta compartir mi conocimiento con la comunidad a través de reuniones, artículos, talleres, etc.
                        </p>
                        <p class="card-content">
                            Recientemente estoy aprendiendo a trabajar en AWS y cuando no estoy codificando salgo a correr o leo un buen libro.
                        </p>
                    </div>
                </div>
                <div class="card-footer footer-color">
                    <a href="https://twitter.com/Richard6_10" target="_blank"><i class="fab fa-twitter fa-1.5x color-icon mx-3"></i></a>
                    <a href="https://github.com/SystemMasterPro" target="_blank"><i class="fab fa-github fa-1x color-icon mx-3"></i></a>
                    <a href="https://www.facebook.com/richardfernando.jimenez/" target="_blank"><i class="fab fa-facebook-square fa-1x color-icon mx-3"></i></a>
                    <a href="https://www.linkedin.com/in/richard-jimenez-%F0%9F%87%AA%F0%9F%87%A8-5137491a5/" target="_blank"><i class="fab fa-linkedin-in fa-1x color-icon mx-3"></i></a>
                    <a href="https://www.youtube.com/channel/UCvHWv1YfSPOwAyW2c3UQvJw" target="_blank"><i class="fab fa-youtube fa-1x color-icon mx-3"></i></a>
                </div>
            </div>
        </div>
    </div>
    <a href="https://wa.me/+593962093738/?text=Hola, te saludo desde tu sitio web" class="btn-flotantewhat animate__animated animate__rotateInDownLeft" target="_blank"><img src="../../../assets/img/whatsapp.png" alt="messenger"></a>
    <a href="https://m.me/richardfernando.jimenez" class="btn-flotante animate__animated animate__rotateInDownLeft" target="_blank"><img src="../../../assets/img/messenger.png" alt="messenger"></a>
</div>
