<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInLeft">
                <img src="../../../assets/img/cursos.PNG" class="card-img-top" height="300px" alt="Cursos SystemMaster">
                <div class="card-body">
                    <h5 class="card-title">Free courses</h5>
                    <p class="card-text">Page created in order to collect the best programming courses stored on the web. You can log in and publish the course
                    that you think is efficient for the rest of the dev community.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://administrador-2acb9.web.app/" target="_blank" class="btn btn-primary color">Go to the page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInDown">
                <img src="../../../assets/img/Clima.PNG" class="card-img-top" height="300px" alt="Cursos SystemMaster">
                <div class="card-body">
                    <h5 class="card-title">Climate of your city</h5>
                    <p class="card-text">Page made to provide information about the climate of any part of the world, you just put the name of your city and the
                    country code, the API takes care of the rest.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://clima-eight.vercel.app/" target="_blank" class="btn btn-primary color">Go to the page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInRight">
                <img src="../../../assets/img/Notas.PNG" class="card-img-top" height="300px" alt="Cursos SystemMaster">
                <div class="card-body">
                    <h5 class="card-title">Record of notes</h5>
                    <p class="card-text">This page makes it easy for you to create and store your personal notes, you can create an account and proceed to save
                    all your notes in the cloud easily and for free.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://notes-master.herokuapp.com/" target="_blank" class="btn btn-primary color">Go to the page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInLeft">
                <img src="../../../assets/img/Biblioteca.PNG" class="card-img-top" height="300px" alt="Cursos SystemMaster">
                <div class="card-body">
                    <h5 class="card-title">Virtual library</h5>
                    <p class="card-text">Page created in order to contribute to society, so that they can take better habits, that is why books by different
                    authors are shared daily for free and without profit.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://repo-biblioteca-practica.vercel.app/" target="_blank" class="btn btn-primary color">Go to the page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 mb-5 height animate__animated animate__backInUp">
                <img src="../../../assets/img/SystemMaster.PNG" class="card-img-top" height="300px" alt="Cursos SystemMaster">
                <div class="card-body">
                    <h5 class="card-title">SystemMaster page</h5>
                    <p class="card-text">Web page created for the SystemMaster company, it is a static page, the objective of it is to publicize its products,
                    its location, etc.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://repo-sitio-web-empresa.vercel.app/" target="_blank" class="btn btn-primary color">Go to
                        the page</a>
                </div>
            </div>
        </div>
    </div>
    <a href="https://m.me/richardfernando.jimenez" class="btn-flotante animate__animated animate__flip" target="_blank"><img
            src="../../../assets/img/messenger.png" alt="messenger"></a>
</div>
