<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInLeft">
                <div class="row">
                    <div class="col-12 text-center imageCenter">
                        <img src="../../../assets/img/AppRapids2.0.png" class="card-img-top">
                    </div>
                </div>
                <div class="card-body mt-4">
                    <h5 class="card-title">Aplicación Web - Rapids 2.0</h5>
                    <p class="card-text">Página creada con la finalidad de contribuir a la sociedad, para que puedantomar
                        mejores hábitos, por eso los libros de
                        diferentes autores se comparten diariamente de forma gratuita y sin ánimo de lucro.
                    </p>
                </div>
                <div class="card-footer text-center mt-3">
                    <a href="https://libraryrapidsec.netlify.app/" target="_blank"
                        class="btn btn-primary color">Ir a la
                        pagina</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInLeft">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../../../assets/img/AppCursos.png" class="card-img-top">
                    </div>
                </div>
                <div class="card-body mt-4">
                    <h5 class="card-title">Aplicación Web - Cursos Gratuitos</h5>
                    <p class="card-text">Página creada con el fin de recopilar los mejores cursos de programación
                        almacenados en la web. Puedes iniciar sesión y publicar el curso
                        que cree que es eficaz para el resto de la comunidad de desarrolladores.
                    </p>
                </div>
                <div class="card-footer text-center mt-3">
                    <a href="https://administrador-2acb9.web.app/" target="_blank" class="btn btn-primary color">Ir a la
                        pagina</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInDown">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../../../assets/img/AppClima.png" class="card-img-top">
                    </div>
                </div>
                <div class="card-body mt-4">
                    <h5 class="card-title">Aplicación Web - Clima de tu Ciudad</h5>
                    <p class="card-text">Página hecha para brindar información sobre el clima de cualquier parte del
                        mundo, solo debes poner el nombre de tu ciudad y el
                        código de país, la API se encarga del resto.
                    </p>
                </div>
                <div class="card-footer text-center mt-3">
                    <a href="https://clima-eight.vercel.app/" target="_blank" class="btn btn-primary color">Ir a la
                        pagina</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInRight">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../../../assets/img/AppNotas.png" class="card-img-top">
                    </div>
                </div>
                <div class="card-body mt-4">
                    <h5 class="card-title">Aplicación Web - Registro de Notas</h5>
                    <p class="card-text">Esta página le facilita la creación y almacenamiento de sus notas personales,
                        puede crear una cuenta y proceder a guardar
                        todas tus notas en la nube de forma fácil y gratuita.
                    </p>
                </div>
                <div class="card-footer text-center mt-3">
                    <a href="https://notes-master.herokuapp.com/" target="_blank" class="btn btn-primary color">Ir a la
                        pagina</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 height animate__animated animate__backInLeft">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../../../assets/img/AppBiblioteca.png" class="card-img-top">
                    </div>
                </div>
                <div class="card-body mt-4">
                    <h5 class="card-title">Aplicación Web - Rapids 1.0</h5>
                    <p class="card-text">Página creada con la finalidad de contribuir a la sociedad, para que puedan
                        tomar mejores hábitos, por eso los libros de
                        diferentes autores se comparten diariamente de forma gratuita y sin ánimo de lucro.
                    </p>
                </div>
                <div class="card-footer text-center mt-3">
                    <a href="https://repo-biblioteca-practica.vercel.app/" target="_blank"
                        class="btn btn-primary color">Ir a la pagina</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 mb-5 height animate__animated animate__backInUp">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="../../../assets/img/AppSystemMaster.png" class="card-img-top">
                    </div>
                </div>
                <div class="card-body mt-4">
                    <h5 class="card-title">Aplicación Web - SystemMaster</h5>
                    <p class="card-text">Página web creada para la empresa SystemMaster, es una página estática, el
                        objetivo de la misma es dar a conocer sus productos,
                        su ubicación, etc.
                    </p>
                </div>
                <div class="card-footer text-center mt-3">
                    <a href="https://repo-sitio-web-empresa.vercel.app/" target="_blank"
                        class="btn btn-primary color">Ir a la pagina</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card mt-5 mb-5 height animate__animated animate__backInUp">
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        <img src="../../../assets/img/AppISTPM.png" class="card-img-top">
                    </div>
                </div>
                <div class="card-body mt-4">
                    <h5 class="card-title">Aplicación Web - Biblioteca ISTPM</h5>
                    <p class="card-text">Aplicación Web creada para la gestión y administración de la biblioteca del
                        Instituto Superior Tecnológico Primero de Mayo.</p>
                </div>
                <div class="card-footer text-center mt-3">
                    <a href="https://pruebafrontistpm.netlify.app/" target="_blank"
                        class="btn btn-primary color">Ir a la pagina</a>
                </div>
            </div>
        </div>
    </div>
    <a href="https://wa.me/+593962093738/?text=Hola, te saludo desde tu sitio web"
        class="btn-flotantewhat animate__animated animate__rotateInDownLeft" target="_blank"><img
            src="../../../assets/img/whatsapp.png" alt="messenger"></a>
    <a href="https://m.me/richardfernando.jimenez" class="btn-flotante animate__animated animate__rotateInDownLeft"
        target="_blank"><img src="../../../assets/img/messenger.png" alt="messenger"></a>
</div>