body{
    background-image: url('./assets/img/font.jpg');
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
	/* background-position: center center;
	background-size: cover;
	background-repeat: no-repeat; */
    padding: 0px;
    margin: 0px;
    /* height: 100vh; */
}
